

/* import :: icons and fonts
/* ------------------------------------------------------------------------------------------------------------------------- */
    @import url( "./aarden.client.styles.css" );
/* ========================================================================================================================= */




/* define :: family
/* ------------------------------------------------------------------------------------------------------------------------- */
    .banner
    {
        position: absolute;
        width: 100%;
        min-width: 899px;
        height: auto;
    }
/* ========================================================================================================================= */




/* define :: custom
/* ------------------------------------------------------------------------------------------------------------------------- */
    #decktint
    {
        background: hsla(0, 0%, 0%, 0.4);
    }

    #browse
    {
        text-align: left;
    }
/* ========================================================================================================================= */
